html {
    scroll-behavior: smooth;
}
/* fonts importation from the fonts folder */
@font-face {
    font-family: "Roboto-Black";
    src: url(./fonts/Roboto-Black.ttf) format('truetype');
}
@font-face {
    font-family: "Roboto-Light";
    src: url(./fonts/Roboto-Light.ttf) format('truetype');
}
/* page font style */
body {
    font-family: "Roboto-Black", Arial;
}

/* HEADER AND NAV BEGINS HERE */
.page-header {
    top: 0px;
    left: 0px;
    background-color: black;
    align-items: center;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo {
    margin-left: 10%;
}
nav {
    margin-right: 10%;
}
ul {
    font-family: "Roboto-Light";
    list-style-type: none;
}
li, a {
    display: inline-flex;
    text-decoration: none;
    padding: 0 5px 0 5px;
    color: white;
}
/* HEADER ENDS HERE */

/* Colors and Font Styles

dark-background-color: #1f2937;
hero main text: 48px extra-bold #f9faf8;
hero secondary text, header link text: 18px #e5e7eb;
header logo text 24px #f9faf8; */